<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>WhatsMySpeed</string>
	<key>CFBundleName</key>
	<string>WhatsMySpeed</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>DriveAgent needs access to your music library to display the current track and provide playback controls.</string>
	<key>NSCameraUsageDescription</key>
	<string>Privacy Camera Usage Desc</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Privacy Face ID Usage Desc</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.driveagent.spotify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>driveagent</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
